@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&family=Work+Sans:wght@300;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Work Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* logo and headings */

header {
    background-color: #682bd7;
    height: 75px;
}

h1, h2, h3 {
    font-family: Montserrat, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 300%;
    font-weight: 800;
    color: #fff6ff;
    margin-left: 30px;
}

/* menu links */

#menu {
    font-size: 150%;
    font-weight: 800;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 30px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: #fff6ff;
    border: 3px solid transparent;
    display: inline;
    padding: 5px;
    border-radius: 7px;
    transition: 0.5s;
}

#menu a:hover {
    background-color: #fff6ff;
    color: #682bd7;
}

/* column section */

#columns {
    height: 600px;
    padding: -40px 50px;
    background-color: #fff6ff;
}

#column-left img {
    width: 50%;
    float: left;
    
}

#column-right {
    width: 50%;
    float: right;
}

#column-right h2 {
    text-align: center;
    font-size: 300%;
    margin: 30px 150px 0 0;
}

#column-right p {
    text-align: center;
    font-size: 18px;
    margin-right: 150px; 
}

#column-right span {
    text-align: center;
    font-size: 24px;
}

#center-btn {
    text-align: center;
}

#anti-age-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff6ff;
    background-color: #682bd7;
    font-size: 32px;
    font-weight: 800;
    padding: 20px 30px;
    margin: 30px 150px 0 0;
    transition: 0.5s;
}

#anti-age-btn:hover {
    color: #682bd7;
    background-color: #fff6ff;
    border: 1px solid #252525;
}

/* Anti-age section */

#anti-age {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

#anti-age h2 {
    font-size: 300%;
}